<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>My Panel - MK</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

    <!-- Data Table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index">
                        <img src="images/icon/logo.png" alt="CoolAdmin"/>
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub">
                        <a class="js-arrow" href="index">
                            <i class="fas fa-tachometer-alt"></i>Main</a>
                    </li>
                    <li>
                        <a href="delivery">
                            <i class="fas fa-truck"></i>In delivery</a>
                    </li>
                    <li>
                        <a href="basket"><i class="fas fa-shopping-basket"></i><span th:text="${basketsize}"/></a>
                    </li>
                    <li>
                        <a href="history">
                            <i class="fas fa-history"></i></i>History</a>
                    </li>
                    <li>
                        <a href="additem">
                            <i class="fas fa-plus-circle"></i>Add Item</a>
                    </li>
                    <li>
                        <a href="report">
                            <i class="fas fa-chart-line"></i>Report</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/index">
                <img src="images/icon/logo.png" alt="Cool Admin"/>
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" href="index">
                            <i class="fas fa-home"></i>Main</a>
                    </li>
                    <li>
                        <a href="delivery">
                            <i class="fas fa-truck"></i>In delivery</a>
                    </li>
                    <li>
                        <a href="basket"><i class="fas fa-shopping-basket"></i><span th:text="${basketsize}"/></a>
                    </li>
                    <li>
                        <a href="history">
                            <i class="fas fa-history"></i></i>History</a>
                    </li>
                    <li>
                        <a href="additem">
                            <i class="fas fa-plus-circle"></i>Add Item</a>
                    </li>
                    <li>
                        <a href="report">
                            <i class="fas fa-chart-line"></i>Report</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="#" method="GET">
                            <input class="au-input au-input--xl col-sm-12" type="text" name="searchItem"
                                   placeholder="Search item"/>
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                            <div class="header-button text-right col-sm-12">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="MK"/>
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">michal kraciuk</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="Michal Kraciuk"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Michal Kraciuk</a>
                                                    </h5>
                                                    <span class="email">kraciukmichal@gmail.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="overview-wrap">
                                <h2 class="title-1 m-b-25">My items</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div th:each="currency: ${currencies}">
                                <div th:if="${currency.code == 'USD'}">
                                    <i class="fas fa-dollar-sign" style="display:inline"></i>
                                    <p th:text="${currency.rates[0].mid}" style="display:inline"></p>
                                    <p th:text="${currency.code}" style="display:inline"></p>
                                </div>
                                <div th:if="${currency.code == 'EUR'}">
                                    <i class="fas fa-euro-sign" style="display:inline"></i>
                                    <p th:text="${currency.rates[0].mid}" style="display:inline"></p>
                                    <p th:text="${currency.code}" style="display:inline"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="table-responsive table--no-card m-b-20">
                                <table class="table table-condensed-12 table-bordered table-striped table-sm"
                                       id="mainTable">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="width=60%">Nazwa</th>
                                            <th style="display:none" ></th>
                                            <th>Cena zakupu</th>
                                            <th>Ilosc</th>
                                            <th>Data zakupu</th>
                                            <th>Ile zam.</th>
                                            <th>Uwagi</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="myItem: ${myItems}" class="null"
                                            onclick="changeRowColorOnTable(this)">
                                            <td style="width:60%" th:text="${myItem.name}"></td>
                                            <td style="display:none" th:text="${myItem.id}">
                                            <td style="width:15%" th:text="${myItem.buyPrice}"></td>
                                            <td style="width:5%" th:text="${myItem.quantity}"></td>
                                            <td style="width:12%" th:text="${myItem.buyDate}"></td>
                                            <td style="width:8%" th:text="${myItem.quantInTransport}"></td>
                                            <td style="width:8%" th:text="${myItem.notes}"></td>
                                            <td>
                                                <form th:action="@{/edit?id=} + ${{myItem.id}}" method="post">
                                                    <div class="table-data-feature">
                                                        <button th:name="edit" class="item"
                                                                data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form th:action="@{/details?id=} + ${{myItem.itemId}}" method="post">
                                                    <div class="table-data-feature">
                                                        <button th:name="details" value="details" class="item"
                                                                data-toggle="tooltip" data-placement="top" title="Details">
                                                            <i class="zmdi zmdi-view-list-alt"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-md-12">
                            </div>
                            <!--<div class="overview-wrap">-->
                            <!--<button href="additem" class="au-btn au-btn-icon au-btn&#45;&#45;blue">-->
                            <!--<i class="zmdi zmdi-plus"></i>add item-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--<br>-->
                            <div class="overview-item overview-item--c1">
                                <form action="/sell#" modelAttribute="myItemList" method="POST">
                                    <div class="input-group col-sm-12">
                                        <input id="checkedItemId" name="checkedItemId" hidden required>
                                        <span class="input-group-addon"><i class="fas fa-tag"></i></span>
                                        <input class="form-control" name="sellPriceInput" type="number" step="0.01"
                                               placeholder="Sell price" required>
                                    </div>
                                    <br>
                                    <div class="input-group col-sm-12">
                                        <span class="input-group-addon"><i class="fas fa-percent"></i></span>
                                        <input class="form-control" name="commissionInput" type="number" step="0.01"
                                               placeholder="Commission">
                                    </div>
                                    <br>
                                    <div class="input-group col-sm-12">
                                        <span class="input-group-addon"
                                              onclick="document.getElementById('cashOnDelivery').disabled=false"><i
                                                class="fas fa-truck"></i></span>
                                        <input class="form-control" name="cashOnDelivery" type="number" step="0.01"
                                               id="cashOnDelivery"
                                               placeholder="Cash on delivery" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group col-sm-12">
                                        <span class="input-group-addon"><i class="far fa-sticky-note"></i></span>
                                        <input class="form-control" name="note" type="text"
                                               placeholder="Note">
                                    </div>
                                    <div class="col-md-12">
                                        <h6 th:text="${SellInfo}"></h6>
                                    </div>
                                    <br>
                                    <div class="input-footer">
                                        <button name="sell" value="sell" type="submit"
                                                class="btn btn-primary btn-md">
                                            <i class="far fa-check-circle"></i> Sell
                                        </button>
                                        <button name="add" value="add" type="submit" class="btn btn-primary btn-md">
                                            <i class="fas fa-shopping-basket"></i> Add
                                        </button>
                                    </div>
                                    <br>
                                    <br>
                                </form>
                                <div class="text-right col-sm-6 col-md-12" style="margin-top: -45px">
                                    <form action="/basket" method="POST">
                                        <button name="clearBasket" value="clearBasket" type="submit"
                                                class="btn btn-warning btn-md">
                                            <i class="fas fa-minus-circle"></i> Delete basket
                                        </button>
                                    </form>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-12 col-lg-12">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${totalItemSold}"></h2>
                                                <span>items sold</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-12">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${totalEarningLastDays}"></h2>
                                                <span>earning by day</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-12">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${totalProfit}"></h2>
                                                <span>total profit</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="overview-item overview-item--c4">
                                <div class="col-sm-12 col-lg-12">
                                    <p th:text="${totalItemsOnStock}"></p>
                                    <p th:text="${totalValueOnStock}"></p>
                                    <p th:text="${totalMonthlyExpenses}"></p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">

                    </div>
                    <!--<div class="row">-->
                    <!--<div class="col-lg-6">-->
                    <!--<div class="au-card recent-report">-->
                    <!--<div class="au-card-inner">-->
                    <!--<h3 class="title-2">recent reports</h3>-->
                    <!--<div class="chart-info">-->
                    <!--<div class="chart-info__left">-->
                    <!--<div class="chart-note">-->
                    <!--<span class="dot dot&#45;&#45;blue"></span>-->
                    <!--<span>products</span>-->
                    <!--</div>-->
                    <!--<div class="chart-note mr-0">-->
                    <!--<span class="dot dot&#45;&#45;green"></span>-->
                    <!--<span>services</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="chart-info__right">-->
                    <!--<div class="chart-statis">-->
                    <!--<span class="index incre">-->
                    <!--<i class="zmdi zmdi-long-arrow-up"></i>25%</span>-->
                    <!--<span class="label">products</span>-->
                    <!--</div>-->
                    <!--<div class="chart-statis mr-0">-->
                    <!--<span class="index decre">-->
                    <!--<i class="zmdi zmdi-long-arrow-down"></i>10%</span>-->
                    <!--<span class="label">services</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recent-report__chart">-->
                    <!--<canvas id="recent-rep-chart"></canvas>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-lg-6">-->
                    <!--<div class="au-card chart-percent-card">-->
                    <!--<div class="au-card-inner">-->
                    <!--<h3 class="title-2 tm-b-5">char by %</h3>-->
                    <!--<div class="row no-gutters">-->
                    <!--<div class="col-xl-6">-->
                    <!--<div class="chart-note-wrap">-->
                    <!--<div class="chart-note mr-0 d-block">-->
                    <!--<span class="dot dot&#45;&#45;blue"></span>-->
                    <!--<span>products</span>-->
                    <!--</div>-->
                    <!--<div class="chart-note mr-0 d-block">-->
                    <!--<span class="dot dot&#45;&#45;red"></span>-->
                    <!--<span>services</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xl-6">-->
                    <!--<div class="percent-chart">-->
                    <!--<canvas id="percent-chart"></canvas>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3">-->
                    <!--<h2 class="title-1 m-b-25">Top countries</h2>-->
                    <!--<div class="au-card au-card&#45;&#45;bg-blue au-card-top-countries m-b-40">-->
                    <!--<div class="au-card-inner">-->
                    <!--<div class="table-responsive">-->
                    <!--<table class="table table-top-countries">-->
                    <!--<tbody>-->
                    <!--<tr>-->
                    <!--<td>United States</td>-->
                    <!--<td class="text-right">$119,366.96</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Australia</td>-->
                    <!--<td class="text-right">$70,261.65</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>United Kingdom</td>-->
                    <!--<td class="text-right">$46,399.22</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Turkey</td>-->
                    <!--<td class="text-right">$35,364.90</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Germany</td>-->
                    <!--<td class="text-right">$20,366.96</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>France</td>-->
                    <!--<td class="text-right">$10,366.96</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Australia</td>-->
                    <!--<td class="text-right">$5,366.96</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Italy</td>-->
                    <!--<td class="text-right">$1639.32</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                    <!--</table>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
                                href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->


<!-- Jquery JS-->
<script src="vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="vendor/bootstrap-4.1/popper.min.js"></script>
<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="vendor/slick/slick.min.js">
</script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/animsition/animsition.min.js"></script>
<script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="vendor/circle-progress/circle-progress.min.js"></script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="vendor/chartjs/Chart.bundle.min.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!-- Main JS-->
<script th:inline="javascript">

$(document).ready( function () {
    $('#mainTable').DataTable();
} );

     /*<![CDATA[*/

        var dataToChart = /*[[${dataToChart}]]*/ '0';
        var monthNameToChart = /*[[${monthNameToChart}]]*/ '0';
        var totalProfit = /*[[${totalProfit}]]*/ '0';
        var totalItemSold = /*[[${totalItemSold}]]*/ '0';
        var dataToItemSold = /*[[${dataToItemSold}]]*/ '0';
        var totalEarningLastDays = /*[[${totalEarningLastDays}]]*/ '0';
        var dataToEarningByDays = /*[[${dataToEarningByDays}]]*/ '0';
        var labelToEarningByDays = /*[[${labelToEarningByDays}]]*/ '0';



    /*]]>*/











</script>
<script src="js/main.js" th:inline="javascript"></script>

</body>

</html>
<!-- end document-->
